.default-button {
  min-width: 165px !important;
  width: auto !important;
  height: 50px !important;
  letter-spacing: 0.5px !important;
  line-height: 50px !important;
  padding: 0 35px 0 35px !important;
  font-size: 15px !important;
  background-color: black !important;
  color: white !important;
  text-transform: uppercase !important;
  font-family: "Open Sans Condensed" !important;
  font-weight: bolder !important;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer !important;

  &:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
  }
}
